__pycache__
.pyc
.pytest_cache
.ipynb_checkpoints
*.pyc
*.h
*.c
*.so
.vscode
tmp/
*.egg-info/
.venv
.python-version
.nbconvert
*/storage/*
notebook_cookie_secret
*.csv
*.git
*.pkl
*.pkl.gz
*.DS_Store
