__pycache__
.pyc
.pytest_cache
.ipynb_checkpoints
*.pyc
*.h
*.c
*.so
.vscode
.venv
.python-version
.nbconvert
notebook_cookie_secret
*.csv
*.git
*.pkl
*.pkl.gz
*.DS_Store
tmp/
*.egg-info/
*/storage/*
*/k8s/deployments/
