kind: Deployment
apiVersion: apps/v1
metadata:
  name: database-deployment
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      name: database
      labels:
        app: database
    spec:
      containers:
        - name: database
          image: postgres:latest
          command: []
          imagePullPolicy: "Never"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: password
          volumeMounts:
            - name: host-pgdata
              mountPath: "/var/lib/postgresql/data"
      volumes:
        - name: host-pgdata
          hostPath:
            path: {{PWD}}/storage/database